# IDE configurations

.vscode/
.idea/
milestone*/.vscode/
milestone*/.idea/

# build files

*.iml
*.MF
*.jar
*.log

milestone*/bin/*
milestone*/out/*
milestone*/logs/*
milestone*/*.iml
milestone*/*.MF
milestone*/*.jar

