# IDE configurations

.vscode/
.idea/
milestone*/.vscode/
milestone*/.idea/

# build files

*.iml
milestone*/bin/*
milestone*/lib/&
milestone*/out/*
milestone*/logs/*
milestone*/*.MF
milestone*/*.jar

