# IDE configurations

.DS_Store
.vscode/
.idea/
milestone*/.DS_Store
milestone*/.vscode/
milestone*/.idea/

# build and run files

*.iml
*.MF
*.log

milestone*/bin/*
milestone*/out/*
milestone*/logs/*
milestone*/*.iml
milestone*/*.MF
milestone*/*.jar

# Cached data
data/
milestone*/data/

# Dataset 20150507
milestone*/enron_mail_20150507.tar.gz
milestone*/maildir/

# Zookeeper v3.4.11
milestone*/zookeeper-3.4.11.tar.gz
milestone*/zookeeper-3.4.11/

